@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: gold;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  /* border-radius: 5px; */
  background-color: #16171a;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: gold;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0ac01;
}
